<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Awesome Website</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <% include partials/nav.ejs %>

        <h1>Contact Us!</h1>
        <p>Contact the kewlest kats on the web right here.</p>

        <form action="" method="POST" action="/contact" id="contact-form">
            <label for="who">Who do you want to contact?</label>
            <input type="text" name="who" value="<%= qs.person %>"></input>
            <label for="department">Which department?</label>
            <input type="text" name="department" value="<%= qs.dept %>"></input>
            <label for="email">Your email</label>
            <input type="email" name="email"></input>
            <input type="submit" value="submit" "></input>
        </form>

</body>

</html>