body {
    background: #0d1521;
    color: #989898;
    font-family: tahoma;
}

#todo-table {
    background: #090d13;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 95%;
}

#todo-table form:after {
    clear: both;
    content: "";
    display: block;
    margin: 0;
}

input[type="text"] {
    background: #181c22;
    border: 0;
    color: #989898;
    float: left;
    font-size: 20px;
    padding: 20px;
    width: 70%;
}

button {
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 20px;
    padding: 20px;
    width: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    box-sizing: border-box;
    cursor: pointer;
    font-family: arial;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 20px;
    width: 100%;
}

li:hover {
    background: rgba(0, 0, 0, .2);
    text-decoration: line-through;
}

h1 {
    background: url(/assets/logo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
}
